DATABASE_URL="postgresql://user:password@localhost:5432/fieldday?schema=public"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

PUBNUB_PUBLISH_KEY="pub-c-..."
NEXT_PUBLIC_PUBNUB_SUBSCRIBE_KEY="sub-c-..."
PUBNUB_SECRET_KEY="sec-c-..."

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""

SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PASSWORD="changeme"
